.title, .processVisibility {
	visibility: hidden;
}

.title:after {
	display: block;
    height: 4px;
    background-color: #ffffff;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.background {
	clip-path: polygon(0 10%, 100% 0, 100% 88%, 0 100%);
	background: #FF005C;  /* fallback for old browsers */
	background-image: -webkit-linear-gradient(to right, rgba(174, 228, 243, 0.95), rgba(0, 68, 158, 0.95)), url(/process_background.jpg);  /* Chrome 10-25, Safari 5.1-6 */
	background-image: linear-gradient(to right, rgba(255,0,92, 0.9), rgba(188,71,73, 0.9)), url(/process_background.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

/*.square {
	z-index: 1;
    background-image: radial-gradient(#FFFFFF 2px, transparent 1px);
    background-size: 20px 20px;
    width: 30%;
    height: 30%;
    top: 15%; 
  	left: 15%;
  	transform: translate(-10%, -10%);
}

.blob_1 {
	z-index: -1;
    top: 15%; 
  	left: 15%;
  	transform: translate(-10%, -10%);
}*/

.square {
	z-index: 1;
    background-image: radial-gradient(#FFFFFF 2px, transparent 1px);
    background-size: 20px 20px;
    width: 30%;
    height: 30%;
    top: 15%; 
  	left: 15%;
  	transform: translate(170%, -40%);
}

.blob_1 {
	z-index: -1;
    top: 15%; 
  	left: 15%;
  	transform: translate(-20%, -20%);
}