.backgroundColor_1 {
    background-color: #93329E;
}

.backgroundColor_2 {
    background-color: #FF005C;
}

.backgroundColor_3 {
    background-color: #A463F2;
}

.title {
    color: #93329E;
    visibility: hidden;
}

.title:after {
    display: block;
    height: 4px;
    background-color: #93329E;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.subTitle_1 {
    color: #93329E;
}

.subTitle_2 {
    color: #FF005C;
}

.subTitle_3 {
    color: #A463F2;
}

.offersVisibility {
    visibility: hidden;
}


