.formular:focus {
	outline: none !important;
    border: 3px solid #AEE4F3;
    box-shadow: 0 0 10px #AEE4F3;
}

.submitButton:focus {
	outline: none !important;
}

.background {
	background: #00449E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #AEE4F3, #00449E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #AEE4F3, #00449E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title:after {
	display: block;
    height: 2px;
    background-color: #ffffff;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.subTitle {
	color: #AEE4F3;
}