.blob {
  	transform: translate(-1%, -80%);
  	z-index: 0;
}

.image {
	z-index: 1;
}

.title:after {
	display: block;
    height: 4px;
    background-color: #A463F2;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.title {
    color: #A463F2;
}

.subTitle {
	color: #FF005C;
}

.background {
	background-color: #FFFFFF;
}