.bgWrap {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.bgText {
  font-size: 3rem;
}

.bgText:after {
    display: block;
    height: 6px;
    background-color: #FF005C;
    content: " ";
    width: 100px;
    margin-left: 4px;
    margin-top: 30px;
}

.bgTextAndButton {
  position: absolute;
  top: 55%; 
  left: 44%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.background {
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
}

.button {
  background-color: #FF005C;
}

.backgroundColor {
  background-color: #93329E;
  /*background-color: #FF005C;*/
  /*background-color: #A463F2;*/
}

.square {
    background-image: radial-gradient(#FF005C 2px, transparent 1px);
    background-size: 20px 20px;
    width: 8%;
    height: 16%;
    top: 25%; 
    left: 85%;
    transform: translate(-50%, -40%);
}