.bgWrap {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.bgText {
  font-size: 3rem;
}

.bgTextAndButton {
  position: absolute;
  top: 55%; 
  left: 44%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.background {
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
}

.button {
  background-color: #FF005C;
}

.backgroundColor {
  background-color: #93329E;
  /*background-color: #FF005C;*/
  /*background-color: #A463F2;*/
}