.bgWrap {
  filter: contrast(150%);
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.bgText {
  font-size: 3.3rem;
}

.bgTextAndButton {
  position: absolute;
  top: 55%; 
  left: 47%;
  transform: translate(-50%, -50%);
}

.background {
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
}